Checks: bugprone-*, clang-analyzer-*, concurrency-*, cppcoreguidelines-*, performance-*, readability-*,
WarningsAsErrors: true
- cppcoreguidelines-pro-type-reinterpret-cast
- clang-analyzer-optin.cplusplus.VirtualCall